* {
  box-sizing: border-box;
}

/* Header Section */
header {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  background-color: #373b69;
  margin: 1rem 5rem 0 2rem;
}

header input {
  padding: 0.8rem;
  border-radius: 50px;
  border: 2px solid #4f7adf;
  background-color: transparent;
  color: antiquewhite;
}
.site-name {
  height: 3rem;
  font-weight: 700;
  font-size: x-large;
  margin: 0;
  letter-spacing: 0.1em;
}

/* Body Section  */
body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #373b69;
}

.movies {
  /* height: 400px; */
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #4f7adf;
  margin: 2rem;
  position: relative;
}

.movies img {
  max-width: 100%;
}

.movie-details {
  padding: 0.4rem 0.8rem 0.8rem 0.8rem;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  align-items: center;
}

.movie-details h3 {
  margin: 0;
}

.movie-details span {
  background-color: #373b69;
  padding: 0.4rem 0.8rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.overview {
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 2rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in;
  max-height: 100%;
  overflow: auto;
}

.movies:hover .overview {
  transform: translateY(0);
}

.overview h4 {
  margin-top: 0;
}
